:host {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .75rem;
  background-color: var(--app-secondary-color);
  color: white;
  box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.2);
  text-align: center;
  will-change: transform;
  transform: translate3d(0, 100%, 0);
  transition-property: visibility, transform;
  transition-duration: 0.2s;
  visibility: hidden;

  @media (min-width: 28.75em) {
    width: 20rem;
    margin: auto;
  }
}

:host([active]) {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
