/* Add more specificity (.checkout) to workaround an issue in lit-element:
   https://github.com/PolymerLabs/lit-element/issues/34 */
button.checkout {
  border: 2px solid var(--app-dark-text-color);
  border-radius: 3px;
  padding: 8px 16px;

  &:hover {
    border-color: var(--app-primary-color);
    color: var(--app-primary-color);
  }
}
